main {
  min-height: 100vh;
}
.ant-col .ant-form-item-label {
  margin-left: 3em !important;
}
.ant-form-item-control-input {
  margin-left: 2em !important;
}
/* @media only screen and (max-width:575px) {
 .ant-form .ant-form-item .ant-form-item-control {
    margin-left: 1em !important;
  }
} */
.ant-menu {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 10%) !important;
}
@media (max-width:575px) {
  .ant-form .ant-form-item .ant-form-item-label, .ant-form .ant-form-item .ant-form-item-control {
    flex: 1 !important;
  }
}
.cart-form .ant-form-item .ant-form-item-label {
  margin-left: 0rem !important;
}
.cart-form-select {
  width: 5rem !important;
}
@media screen and (min-width:716px) {
  #price-card {
    top:50px !important;
    position: sticky !important;
    position: -webkit-sticky !important;
}
}

@media screen and (max-width:484px) {
  #cart-items-row {
    justify-content: center !important;
    text-align: center !important;
  }
  #cart-items-row-book-name {
    justify-content: center !important;
    text-align: center !important;
  }
  #cart-items-row-book-price {
    justify-content: center !important;
    text-align: center !important;
  }
  #cart-items-row-book-edit {
    justify-content: center !important;
  }
}
#price-list-item {
  justify-content: space-around !important;
}
.ant-popover-buttons .ant-btn:hover {
  border: 1px solid #ff2925 !important;
  color: #ff2925 !important;
}
.ant-popover-buttons .ant-btn-primary {
  background: #ff2925 !important;
  color: #ffffff !important;
  border: 1px solid #ff2925 !important;
}
.ant-popover-buttons .ant-btn-primary:hover {
  background: #ff2925 !important;
  color: #ffffff !important;
  border: 1px solid #ff2925 !important;
}
.ant-popover-message svg path {
  fill: #ff2925 !important;
}
#checkout-btn {
  background: #4BB543;
  color: white;
  border: 1px solid #4BB543;
}
#checkout-btn:hover {
  border: 1px solid #4BB543;
}
.table tbody tr td:first-child{
  font-weight: bold;
  color: #120338;
}

.table tbody tr td:nth-child(2){
  color: #120338;
}
#profile-form .ant-form-item-label {
  margin-left: 0 !important;
}
#placeorder-btn {
  background: #4BB543;
  color: white;
  border: 1px solid #4BB543;
}
#placeorder-btn:hover {
  border: 1px solid #4BB543;
}