main {
  min-height: 100vh;
}
.ant-col .ant-form-item-label {
  margin-left: 3em !important;
}
.ant-form-item-control-input {
  margin-left: 2em !important;
}
/* @media only screen and (max-width:575px) {
 .ant-form .ant-form-item .ant-form-item-control {
    margin-left: 1em !important;
  }
} */
.ant-menu {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 10%) !important;
}