body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* .ant-col:first-child {
    padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
} */
.ant-card-body {
  padding: 6px !important;
}
.go-back {
  display: inline-block;
  margin: 20px;
}
.ant-list-item {
  justify-content: center !important;
}
.ant-message-info svg path {
  fill: #fcba03 !important;
}
#cart-list-item {
  justify-content: left !important;
  text-align: justify !important;
}
.ant-badge {
  margin-right: 0 !important;
}